AddDefaultCharset utf-8

DirectoryIndex jimbo.php

php_value register_globals Off
php_value display_errors On
php_value upload_max_filesize 50M
php_value max_execution_time 600
php_value session.gc_maxlifetime 3600

<Files ~ "(sql)$">
    Deny from all
</Files>

Options -Indexes
Options FollowSymLinks
RewriteEngine On

RewriteRule \.(css|js|php|jpg|gif|jpeg|png|zip|gz)$ - [L] 
RewriteRule .* jimbo.php [L,QSA]