.error_box {
    margin-top: 3px;
    margin-bottom: 0px;
    FONT-SIZE: 14px;
    font-family: verdana;
    font-weight: bold
}


.plain {
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    FONT-FAMILY: verdana;
}
.caption {
    margin-top: 3px;
    margin-bottom: 0px; text-align: center;
    FONT-SIZE: 17px;
    font-family: verdana;
}

.link {
	color: blue;
	font-family: verdana;
	font-size: 12px;
}
td.bthin {
    BORDER-left: 1px solid black;
    BORDER-top: 1px solid black;
}


.text {
  vertical-align:bottom;
  font-family: Verdana, Arial;
  font-size: 9pt;
}

.little {
  vertical-align:bottom;
  font-family: Verdana, Arial;
  font-size: 7pt;
  color: #003366;
}

.ordertabele INPUT {
	text-align: right;
	width:45px
}

.ordertabele TD {
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    FONT-FAMILY: verdana;
    COLOR: #000000;
    /*padding-left:2px;
    padding-right:2px;*/
    height: 15px;
    background-color: white;
    BORDER-right: 1px solid black;
    BORDER-bottom: 1px solid black;
    height: 20px;
}

.ordertabele TH {
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    FONT-FAMILY: verdana;
    COLOR: #000000;
    padding-left:2px;
    padding-right:2px;
    height: 15px;
    background-color: white;
    BORDER-right: 1px solid black;
    BORDER-bottom: 1px solid black;
    height: 20px;
    text-align: center;
    background-color: #eeeeee;
}

.hiddeninput {
 	border:none;
 	background-color: white;
    FONT-SIZE: 10px;
    FONT-FAMILY: verdana;
}

.reportGrid, .reportGridSmall {
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    FONT-FAMILY: verdana;
	COLOR: #000000;
	background-color: white;
	border-left: 1px solid #cccccc;
	text-align: center
}



.reportGrid TD, .reportGridSmall TD{
    padding-left:3px;
    padding-right:3px;
    height: 15px;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    font-size        : 10pt;
    text-align: right;
}


.reportGrid TH, .reportGridSmall TH, .reportGrid THEAD TD{
    padding-left:3px;
    padding-right:3px;
	font-weight : bold;
	font-size: 11pt;
	text-align: right;
	height: 21px;
	background-color: #eeeeee;
	text-align: right;
}


.reportGridSmall {
	font-size:10px;
}

div.data_table_container {
	display:block;
	overflow:auto; 
	overflow-y:scroll; 
	overflow-x:hidden; 
	/*height:500px; */
	max-height: 350px;
	padding:0; 
	margin:0;	
}


.lb-input {
	width : 200px;
	float: left;
	margin-top: 4px;
}
.text-in {
	float : left;
}
.list-item-ex {
	list-style-type : none;
	font-size:12px;
}






